{% extends "templates/layout.html" %}
{% load static %}
{% block content %}
    <!--{% if articles %}
        {% for article in articles %}
            <div class="card">
                <p>
                    {{ article.article_title }}
                    <br>
                    {{ article.article_text }}
                    <br>
                    {{ article.pub_date }}
                    <br>
                    <img class="card-img" src="{% static article.get_image_path %}" alt="" style="max-height: 200px;max-width: 200px;">
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <p>
                No Article!
            </p>
        </div>
    {% endif %}-->
    <h2>Blog yazılarımı buraya da aktaracağım. Yakında hazır olur :)</h2>
{% endblock %}

